.Homepage {
  text-align: center;
}

.Homepage-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(2px + 2vmin);
  color: rgb(239, 232, 232);
  height: 70px;
}
h1 {
  margin: 0; /* Remove default margin */
  letter-spacing: 2px; /* Space out letters */
  padding-left: 2rem; /* Add padding to move the title slightly inward */
}

.Homepage-nav div {
  height: 4px;
  background-color: white;
  margin: 5px 0;
  border-radius: 25px;
}

.Homepage-nav {
  width: 30px;
  display: block;
  margin: 0.5em 0 0 1em;
}

.search-bar-container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

